* {
   padding: 0;
   margin: 0;
   border: 0;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus, :active {
   outline: none;
}

a:focus, a:active {
   outline: none;
}

input, button, textarea {
   outline: none;
   border: none;
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
   font-family: inherit;
   color: inherit;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a, a:visited {
   text-decoration: none;
   font-family: inherit;
   /* color: inherit; */
}

a:hover {
   text-decoration: none;
}

ul, ol, li {
   list-style: none;
}

img {
   vertical-align: top;
}

html, body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
   font-weight: inherit;
   font-size: inherit;
}